body {
  color: #fcffff;
  font-family: "Montserrat", sans-serif;
  background-color: #1b2330;
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    margin-top: 20px;
  }

  .section-title {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.6;
    margin-left: 9%;
  }

  .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .movie {
    width: 40%;
  }

  .movie img {
    width: 100%;
  }

  .movie p {
    text-align: center;
    margin-top: 0;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /* genre section */


  .genre {
    width: 150px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 12px;
  }
  .genre p {
    font-weight: bold;
    text-align: center;
    color: #1b2330;
  }

  .genre img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 769px) {
  .most-downloaded-movies img:hover {
    opacity: 0.5;
  }
}
